{% extends "accmaster.html" %}
{% block title %}
    Todo
{% endblock %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block nav %}

   <nav>
   <ul  class="nav">
       <li><a href="/dashboard/">Dashboard</a> </li>
       <li class="active"><a href="/todo/">Todos</a> </li>
       <li><a href="/notifications/">Notifications</a> </li>
       <li><a href="/logout/">Logout</a> </li>
   </ul>
   </nav>
{% endblock %}
{% block content %}

  <center>
    <div style="margin-top: 30px">
<form method="post"><br><br>
{% csrf_token %}
<input name="title" value="{{ todo.title }}" style="width: 95%;margin-bottom: 5px" type="text" placeholder="Enter title"><br><br>
{% if todo.is_complate == 1 %}
    <input type="radio" value="0" name="iscom">no
    <input type="radio" value="1" name="iscom" checked>yes
{% else %}
    <input type="radio" value="0" name="iscom" checked>no
    <input type="radio" value="1" name="iscom">yes
{% endif %}
    <br><br>

<input type="submit" name="submit" style="width: 100%;height: 70px" value="send"><br>
</form>

</div>
</center>


{% endblock %}