{% extends "accmaster.html" %}
{% block title %}
    Todo
{% endblock %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block nav %}

   <nav>
   <ul  class="nav">
       <li><a href="/dashboard/">Dashboard</a> </li>
       <li class="active"><a href="/todo/">Todos</a> </li>
       <li><a href="/notifications/">Notifications</a> </li>
       <li><a href="/logout/">Logout</a> </li>
   </ul>
   </nav>
{% endblock %}
{% block content %}

  <center>
    <div style="margin-top: 30px">
<form action="{% url 'addtodo' %}" method="post">
{% csrf_token %}
<input name="title" style="width: 95%;margin-bottom: 5px" type="text" placeholder="Enter title"><br>
<select style="width: 95%;margin-bottom: 5px" name="user">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
</select>
<input type="submit" name="submit" style="width: 100%;height: 70px" value="send"><br>
</form>
    <br>
    <table>
    <tr>
        <td>title</td>
        <td>user</td>
        <td>controls</td>
    </tr>{% for todo in todos %}
    <tr>

        <td>{{ todo.title }}</td>
        <td>{{ todo.user_id }}</td>
        <td><a href="/edittodo/{{ todo.id }}">edit</a> <a href="/deletetodo/{{ todo.id }}">delete</a> </td>

    </tr>{% endfor %}
    </table>
</div>
</center>


{% endblock %}