<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
{% block head %}
{% endblock %}
</head>
<body style="background: linear-gradient(90deg, purple 0%, darkorange 100%);color: #fff;">
{% block nav %}
{% endblock %}

<div style="width: 400px;height: 600px;border: #ff0000 3px solid;background: #909090;margin: 100px auto; display: block;position: relative;border-radius: 50px">

     {% block content %}

    {% endblock %}
</div>

</body>
</html>