{% extends "accmaster.html" %}
{% block title %}
    login in WTD
        {% endblock %}
{% block content %}

    <center>
<form style="margin-top:250px;" method="post">{% csrf_token %}
    <h2 style="color:red;border: 1px solid red">{{ message }}</h2><br>
<label>User Name</label><input name="username" type="text" placeholder="Enter UserName Here"><br><br>
 <label>Pass Word</label>   <input name="password" type="password" placeholder="Enter Password"><br><br>
    <input name="submit" type="submit" value="login" style="width: 150px;height: 105px"><br>
    <a href="/signup/">Don't have account yet?</a>
</form></center>
{% endblock %}

