{% extends "accmaster.html" %}
{% block title %}
    sign up in WTD
        {% endblock %}
{% block content %}

    <center>

<form style="margin-top:250px;"method="post">
    {% csrf_token %}
     <h2 style="color:red;border: 1px solid red">{{ message }}</h2><br>
    <table>
        <tr><td>
    <label>User Name</label></td><td><input name="name" type="text" placeholder="Enter Your Name"></td></tr>
    <tr><td><label>Email</label></td><td><input name="email" type="email" placeholder="Enter Your Email"></td></tr>
    <tr><td><label>Pass Word</label></td><td><input name="password" type="password" placeholder="Enter Your Pass"></td></tr>
    </table>
    <input name="submit" type="submit" value="signup"><br>
    <a href="/login/">Already Have Account></a>

</form>
</center>
{% endblock %}