{% extends "accmaster.html" %}
{% block title %}
    Notifications
{% endblock %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block nav %}

   <nav>
   <ul  class="nav">
       <li><a href="/dashboard/">Dashboard</a> </li>
       <li><a href="/todo/">Todos</a> </li>
       <li class="active"><a href="/notifications/">Notifications</a> </li>
       <li><a href="/logout/">Logout</a> </li>
   </ul>
   </nav>
{% endblock %}
{% block content %}
    <center>
    <div style="margin-top: 30px">
<form method="post" action="{% url 'addnotif' %}">
    {% csrf_token %}
<input name="subject" style="width: 95%;margin-bottom: 5px" type="text" placeholder="Enter Subject"><br>
<textarea name="text" style="width: 95%;" placeholder="Text of notification"></textarea><br>
<input type="submit" name="submit" style="width: 100%;height: 70px" value="send"><br>
</form>
    <br>
    <table>
    <tr>
        <td>subject</td>
        <td>text</td>
        <td>controls</td>
    </tr>
        {% for notification in notifications %}
        <tr>
        <td>{{ notification.subject }}</td>
        <td>{{ notification.text }}</td>
        <td><a href="/editnotif/{{ notification.id }}">edit</a> <a href="/deletenotif/{{ notification.id }}">delete</a> </td>
        </tr>
        {% endfor %}


    </table>
</div>
</center>

{% endblock %}