{% extends "accmaster.html" %}
{% block title %}
    Dashboard {{ request.user.username }}
{% endblock %}
{% load static %}
{% block head %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block nav %}

   <nav>
   <ul  class="nav">
       <li class="active"><a href="/dashboard/">Dashboard</a> </li>
       <li><a href="/todo/">Todos</a> </li>
       <li><a href="/notifications/">Notifications</a> </li>
       <li><a href="/logout/">Logout</a> </li>
   </ul>
   </nav>
{% endblock %}
{% block content %}
    <center>
    <div>
    <h2>Hi <b>{{ request.user.username }}</b></h2>
        <h3>Welcome to WTD</h3>
        <h6>Made By Alireza Sayyah</h6>
        <table style="margin-top: 200px">
            <th>Your Information</th>
            <tr><td>UserName : </td><td>{{ request.user.username }}</td></tr>
            <tr><td>Name : </td><td>{{ request.user.name }}</td></tr>
            <tr><td>Email : </td><td>{{ request.user.email }}</td></tr>
        </table>
    </div>
    </center>


{% endblock %}